
#root {
	height: 100%;
}
#wrapper_login {
	width: 1920px;
	height: 100%;
}
#wrapper_login .section_left {
	width: 400px;
	height: 100%;
	background-color: #7fddff;
	float: left;
	padding: 20px
}

#wrapper_login .section_left .ui.loading.form:before {
	background: rgba(142, 223, 255, 0.6) !important
}

.section_right {
	width: 79%;
	height: 100%;
	float: left;
	background-image: url('../../../../public//img/login/bg-login.png');
	background-size: cover
}